<div class="container">
  <div class="columns is-centered">
    <div class="column box is-one-third" style="margin: 50px 0;">
      <h1 class="title has-text-centered">Typing Game</h1>
      <p class="has-text-centered">
       <!-- <span *ngFor="let word of randomText.split(''); let i=index;">({{ word }}{{inputText[i]}})</span>  -->
       <span *ngFor="let word of randomText.split(''); let i=index;" [class]="onCompareWords(word,inputText[i])">{{ word }}</span> 

      </p>

      <div class="field">
      <input type="text" class="input" (input)="onTypeEvent($event)" />
    </div>

    <!-- <div class="box has-text-centered">
      <!-- <img [src]="randomImage"> -->
      <!-- <img src={{randomImage}} alt=""> 
      </div> -->


      <!-- <div class="box has-text-centered" *ngIf="randomText===inputText" > -->
        <div class="box has-text-centered" *ngIf="flag" >
        <h1 class="title" style="color: rgb(0, 247, 255);">Success</h1>

      </div>
    </div>
  </div>
</div>
